
body{
    margin: 0px;
    background-color:rgb(177, 164, 164);


}
h1{
    color: red;
}
.navbar{
    border-style:solid;
    border-width: 3px;
    border-color: black;
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar a{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 20px;
    
}
.navbar a:hover{
    color: blue;
    background-color: aqua;
}
.card{
    border:1px solid black;
    width:350px;
    border-radius: 30px;
    text-align: center;
    margin-top: 70px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    background-color: white;
    
    
}
.card img{
    width: 100%;
    
}
.card button{
    border-style: none;
    padding: 10px;
    width: 80%;
    border-radius: 8px;
}